/* Fonts */

@font-face {
    font-family: "Cinzel";
    src: url('fonts/cinzel.otf') format('truetype');
}
.presentation{
    display: block;
}
/* Variables */

:root {
    /* Color */
    --primary_color_1: rgba(255, 253, 250, 1);
    --primary_color_2: rgba(255, 255, 255, 1);
    --secondary_color_1: rgba(218, 83, 83, 0.92);
    --secondary_color_2: rgba(193, 34, 34, 0.81);
    --terciary_color_1: rgb(255, 255, 255);
    --terciary_color_2: rgb(255, 255, 255);
    --quartion_color_1: rgb(247, 181, 0);
    --tab-icon: rgb(239, 124, 5);
    --coadjuvant-2: rgba(193, 34, 34, 0.81);
    --coadjuvant-1: rgba(211, 211, 211, 0.747);
    --coadjuvant-3:rgba(193, 34, 34, 0.81);
    --coadjuvant-4:rgb(250, 197, 79);
    --background: rgb(250, 233, 79);
    --background-2: rgba(255, 233, 210, 0);
    --hidden-primary-color: rgb(250, 197, 79);
    --text-color: rgba(68, 57, 57, 0.747);
    --price-color: rgb(255, 50, 30);
    --add-remove-icon: rgb(255, 50, 67);
    --msg-too: rgb(255, 255, 255);

    /* Angles */
    --primary_color_deg: -0deg;
    --secondary_color_deg: 90deg;
    --terciary_color_deg: 0deg;
    /* Services Presentation */
    --state_s_prst: contents;
    --state_s_tbar: flex;
    --state_s_tab: none;
    --state_s_box: none;
    /* Positions */
    --price-tab: 85vh;
}

.primary-color {
    background: linear-gradient(var(--secondary_color_deg), var(--coadjuvant-4), var(--tab-icon));
}

.secondary-color {
    color: var(--secondary_color_2);
}

.add-remove-color {
    color: var(--add-remove-icon) !important;
}

.terciary-color {
    background: var(--terciary_color_1) !important;
}

.quartenion_color {
    color: var(--coadjuvant-4) !important;
}


/* Contents */

html {
    height: 100%;
    position: fixed;
    background: var(--background);
}

.scroll {
    /* height: 5vh; */
    width: 100%;
}

header {
    height: 4vh ! important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

header h6 {
    margin: auto !important;
    text-align: center;
    line-height: 4vh;
    color: whitesmoke;
    font-weight: 100;
    font-size: 2.5vh;
    font-family: "Cinzel" !important;
}

footer {
    bottom: 0vh !important;
    position: inherit!important;
}



a.mdl-layout__tab {
    color: var(--coadjuvant-1) !important;
}

a[href^="#spray_tan"] i.mdl-cell {
    background: url("../images/icons/spray_tan.png") no-repeat center/80%;
}

a[href^="#eyes"] i.mdl-cell {
    background: url("../images/icons/eyes.png") no-repeat center/90%;
}

a[href^="#dtox"] i.mdl-cell {
    margin: 1vw !important;
    background: url("../images/icons/dtox.png") no-repeat center/100%;
}

a[href^="#make_up"] i.mdl-cell {
    background: url("../images/icons/make_up.png") no-repeat center/25%;
}

a[href^="#nails"] i.mdl-cell {
    background: url("../images/icons/nails.png") no-repeat center/50%;
}

a[href^="#massage"] i.mdl-cell {
    background: url("../images/icons/massage.png") no-repeat center/75%;
}

a[href^="#waxing"] i.mdl-cell {
    background: url("../images/icons/waxing.png") no-repeat center/90%;
}

a[href^="#packages"] i.mdl-cell {
    background: url("../images/icons/packages.png") no-repeat center/60%;
}

footer a.mdl-layout__tab {
    color: var(--coadjuvant-1) !important;
    ;
}

h2.contact {
    font-family: "Cinzel";
    color: black !important;
    font-size: 2.5vh;
}

h6.contact {
    font-size: 1.8vh;
    ;
}

i.mdl-cell.whatsapp {
    width: 14vw !important;
    height: 14vw !important;
    margin: 0 !important;
    background: url("../images/icons/nails.png") no-repeat center/100% !important;
}

i.material-icons {
    display: flex !important;
    justify-content: center !important;
}

i.material-icons.quartenion_color {
    color: var(--quartion_color_1);
}

i.material-icons.secondary-color {
    color: var(--secondary_color_1) !important;
}

i.mdl-cell {
    margin: 0 !important;
    height: 14vw;
    width: 14vw;
    background: url('http://www.kathavento.com.br/site/imagens/produtos_grandes/p25512.jpg') center / cover;
}

.mdl-layout__tab-bar-container{
    z-index: -999;
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active {
    color: var(--tab-icon) !important;
}

.mdl-layout__container {
z-index: -0;
}

.no-margin-height {
    min-height: 0px !important;
}

.no-backg {
    background: rgba(0, 0, 0, 0);
}

.mdl-layout__tab {
    font-size: 2vh;
    font-weight: 100;
    font-family: "Cinzel" !important;
}

.mdl-layout__tab i {
    line-height: 2;
}

.mdl-layout__tab-bar {
    height: 6vh !important;
}

.bottom-navigator {
    min-height: 8vh !important;
    font-weight: 100;
    margin: 0;
}

.bottom-navigator .mdl-layout__tab {
    line-height: 1vh;
    min-height: 800px !important;
    font-family: "Cinzel" !important;
    font-size: 2vh !important;
    text-transform: none;
    margin: 0;
    width: 13vw;
}

.page-content .page-content {
    /* padding: 2vw; */
    position: relative;
}

.mdl-card {
    min-height: 0 !important;
}

.mdl-grid .mdl-card {
    margin: auto;
    float: inherit;
    height: 100px;
    min-height: 100px !important;
    width: 50%;
    padding: 2vw !important;
}

.demo-card-wide>.mdl-card__title {
    color: #fff;
    height: 30vh;
    background: url('https://getmdl.io/assets/demos/welcome_card.jpg') center / cover;
}

.demo-card-wide>.mdl-card__menu {
    color: #fff;
}

.mdl-card__menu {
    position: unset;
    margin: auto;
}

.mdl-textfield__input{
    width: 92%;
}

.contact {
    color: black;
    margin: auto;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    /*font-size: 30px;*/
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 4vh;
}

.services_content {
    background: var(--background-2);
}

.services_content .demo-card-wide.mdl-card {
    width: auto;
    /*left: -4vw;*/
    top: -4vw;
}

.services_content .content .demo-card-wide.mdl-card {
    margin-left: 1vh !important;
    padding-top: 0.5em;
    animation-delay: .1s;
}

.content .demo-card-wide.mdl-card {
    top: -2.5vh;
    left: 0;
    max-width: 96vw;
    margin-bottom: 2vw;
    margin-top: 2vw;
    min-height: 100%;
    padding: 0px 0px 0px 16px;
}

.content .mdl-card {
    display: flow-root;
}

.content .demo-card-wide>.mdl-card__title {
    background: white !important;
    color: var(--coadjuvant-1) !important;
    max-height: 2em;
    padding: 0px;
}

.content .mdl-card__title-text {
    color: var(--text-color) !important;
    font-size: 16px;
}

.content .mdl-card__supporting-text {
    padding: 0px 0px 0px 0px;
    font-size: 3vw;
    text-align: justify;
}

.content .mdl-card__actions.mdl-card--border {
    padding: .5vh .5vh .5vh .0;
    height: 1.5em !important;
}

.content a {
    font-family: "Cinzel";
    font-size: 3.5vw;
    padding: 0px !important;
    margin: auto;
    color: var(--price-color) !important;
}

.more {
    color: var(--secondary_color_1);
    font-size: 3vw;
    padding: 0;
}

.more.mdl-button {
    min-width: 0;
    padding: 0;
    height: 100%;
    line-height: 100%;
    font-family: "Helvetica", "Arial", sans-serif;
}
#content{
    margin-top: 0.5em;  
}
.little_text {
    float: left;
    width: calc(90vw - 3.5vh);
}

.mdl-button--fab {
    background: white !important;
    height: 3.5vh;
    width: 3.5vh;
    min-width: 3.5vh;
    position: absolute;
    right: 2vw;
    top: 10vw;
}

.presentation {
    display: var(--state_s_pres) !important;
    position: fixed;
}

.presentation .mdl-grid {
    padding: 0 !important;
    min-height: 0 !important;
    min-width: 0 !important;
}

.presentation .demo-card-wide.mdl-card {
    width: calc((100vw - 3*2vw)/2);
    height: calc((100vh - 8vh - 4vh - 5*2vw)/4);
    min-height: 0;
    min-height: 0;
}

.presentation .demo-card-wide.mdl-card a {
    margin: auto !important;
    padding: 0 !important;
}

.presentation a {
    margin: 2vw 0vw 0vw 2vw !important;
    padding: 0 !important;
    position: relative;
    display: var(--state_s_a) !important;
}

.presentation h2 {
    text-transform: uppercase;
    font-size: 70%;
    text-align: center;
    display: flex;
    margin: auto;
    color: var(--quartion_color_1);
    width: 100%;
}

.presentation .demo-card-wide>.mdl-card__title {
    background: white;
}

.animated.zoomIn {
    animation-duration: 0s;
}

.cart .mdl-card__actions {
    width: calc(90vw - 3.5vh) !important;
}

.cart .mdl-button--fab {
    top: calc((6.5vh)/2);
}

.demo-card-wide.space_button_1 {
    background: rgba(0, 0, 0, 0);
    height: calc(5vh + 16vw);
    width: 100vw;
}

.sdl_address {
    height: calc((100vh - 17vh)*.4);
    height: 83%;
        /*border-bottom: 1px solid var(--reserve_2);*/
}

.sdl_pay {
    height: calc((100vh - 17vh)*.3);
    position: relative;
    border-bottom: 1px solid var(--reserve_2);
    background: var(--background-2);
}

.sdl_team {
    height: calc((100vh - 17vh)*.3);
    position: relative;
    background: var(--background-2);
}

#services .tab {
    display: var(--state_s_tab) !important;
}

#services .mdl-layout__tab-bar-container {
    display: var(--state_s_tbar) !important;
}

#services .mdl-layout__header {
    box-shadow: var(--state_s_box);
}

#services .demo-card-wide.mdl-card a {
    color: var(--quartion_color_1);
    padding: 2vw;
    font-family: "Cinzel"
}

#services .services_content {
    display: var(--state_s_tab) !important;
}

#services .page-content .page-content {
    /* padding: 2vw 2vw 2vw 2vw; */
    height: 100vh;
}

#services .page-content #botao {
    padding: 2vw 2vw 2vw 2vw;
}

#services .demo-card-wide>.mdl-card__title {
    color: white;
    height: 30vh;
}

#spray_tan .demo-card-wide>.mdl-card__title {
    background: url('../images/brands/spray_tan.jpg') center / cover;
}

#eyes .demo-card-wide>.mdl-card__title {
    background: url('../images/brands/eyes.jpg') center / cover;
}

#dtox .demo-card-wide>.mdl-card__title {
    background: url('../images/brands/dtox.jpg') center / cover;
}

#make_up .demo-card-wide>.mdl-card__title {
    background: url('../images/brands/make_up.jpg') center / cover;
}

#nails .demo-card-wide>.mdl-card__title {
    background: url('../images/brands/nails.jpg') center / cover;
}

#massage .demo-card-wide>.mdl-card__title {
    background: url('../images/brands/massage.jpg') center / cover;
}

#waxing .demo-card-wide>.mdl-card__title {
    background: url('../images/brands/waxing.jpg') center / cover;
}

#packages .demo-card-wide>.mdl-card__title {
    background: url('../images/brands/packages.jpg') center / cover;
}

#schedulling .demo-card-wide>.mdl-card__title {
    background: url('../images/brands/schedulling.jpg') center / cover;
}

#sdlPage2 .sdl_i_1 {
    background: url('../images/brands/business.png') center / cover;
    height: 20vw;
    width: 20vw;
}

#sdlPage2 .sdl_i_2 {
    background: url('../images/brands/credit.png') center / cover;
    height: 20vw;
    width: 20vw;
}

#help .mdl-grid .mdl-card {
    width: 100% !important;
    height: calc((100vh - 8vh - 4vh - 5*2vw)/4) !important;
}

#help .mdl-grid {
    width: 100vw;
    padding: 0 !important
}

#help .mdl-cell {
    margin: 2vw 0vw 0vw 2vw !important
}

#help .mdl-cell--4-col {
    width: 96vw !important;
    margin: 2vw 0vw 0vw 2vw !important;
}

#page {
    display: none;
}

#schedulling .page-content {
    height: calc((100vh - 8vh - 4vh)) !important;
    padding: 0vw 0vw 0vw 0vw;
}

#schedulling .content .demo-card-wide.mdl-card {
    margin: 2vw;
    position: inherit;
}

#schedulling .mdl-layout__tab-bar {
    height: 40px !important;
}

#schedulling .demo-card-wide.datapicker .mdl-card__title {
    width: 108vw;
    left: -4vw;
    top: -4vw;
    padding: 0 !important;
    margin: 0vh 0vh 9vw 0vh;
}

#schedulling .demo-card-wide.datapicker .mdl-card__title-text {
    padding: 4vw 2vw 4vw 2vw;
    width: 96vw;
}

#schedulling .button {
    float: right;
    position: relative !important;
}

#schedulling #clickServices.mdl-button--fab {
    width: 40px !important;
    height: 40px !important;    
    margin: 0;
    top: calc(35vh - 7vw);
    left: calc(100vw - 12vw);
    float: right;
    position: fixed;
    animation-delay: .35s;
}

#schedulling #clickSdlPage2.mdl-button--fab {
    width: 40px !important;
    height: 40px !important;    
    margin: 0;
    top: calc(84vh - 12vw);
    float: right;
    position: fixed;
    animation-delay: .3s;
}

#schedulling #clickSdlPage1.mdl-button--fab {
    width: 40px !important;
    height: 40px !important;    
    margin: 0;
    top: calc(83.5vh - 12vw);
    float: right;
    position: fixed;
    animation-delay: .3s;
    margin: 1vw 0vw 1vw 0vw;
}

#schedulling #clickSdlSend.mdl-button--fab {
    width: 40px !important;
    height: 40px !important;    
    margin: 0;
    top: calc(81vh);
    float: right;
    position: absolute;
    animation-delay: .35s;
    background: var(--tab-icon) !important;;
    color: #F1F1F1 !important;
}

#clickSdlSend i {
    font-size: 3vh !important;
    color: white !important;
    
}

#schedulling .budget {
    top: 6em !important;
    position: fixed;
    animation-duration: .3s;
    border-radius: 20px;
    width: 94vw;
    margin: 0 2vw;
}

.chat{
width: 100%;
}

.msg{
    background: var(--add-remove-icon);
    width: 75%;
    height: inherit;
    position: relative;
    color: white;
    float: left;
    right: 0em;
    padding: 2vw;
    margin: 2vw;
    border-radius: 0em 15px 15px  15px;
}

.msg-too{
    background: white;
    width: 75%;
    height: inherit;
    position: relative;
    color: black;
    float: right;
    right: 0em;
    padding: 2vw;
    margin: 2vw;
    border-radius: 15px 15px  0em 15px ;
}

.tab-shrink{
    width: 85% !important;
}

#map {
    width: 100vw;
    height: 88vh;
    position: relative;
    z-index: -99;
    overflow: hidden;
}

#schedulling .budget spam {
    text-align: center;
    line-height: 4vh;
    color: var(--secondary_color_1);
    font-weight: 100;
    font-size: 3vh;
    font-family: "Cinzel" !important;
    padding: 2vw;
}

#schedulling .budget .mdl-card__title {
    padding: 0;
    width: 80vw;
    background-color: var(--terciary_color_1)
    
}

.budget{
width: 80%;
}

#schedulling #sum-cart {
    position: fixed;
    text-align: right;
    right: .5em;
    font-size: 2.5vh;
    color: var(--coadjuvant-1);
}

#schedulling .durationIn {
    animation-duration: .3s;
}

#schedulling .fadeIn {
    animation-duration: .3s;
}

#sdlPage1 {
    display: inherit;
}

#sdlPage2 {
    display: none;
    position: fixed;
    width: 100vw;
    background: white;
}

#sdlPage2 h2 {
    font-size: 4vw;
    color: rgba(0, 0, 0, 0.81);
    font-weight: 400;
    text-align: center;
    width: 92vw;
    display: block;
    margin: auto;
    padding: 1vw 0vw 1vw 0vw;
}

#sdlPage2 .mdl-card__title {
    padding: 0px !important;
}

#photo {
    box-shadow: 0 0 20px 0px #dfdfdf !important;
    border-radius: 50em;
    width: 70px;
    height:70px;
    position: inherit;
    float: right;
    margin: 2vw 2vw 0 0 ;
    background: white;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-v3c8mD5wc_LIZ_P8g0PnnDCOju3IdzZnURI5Q59sIESeResM);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain !important;
    z-index: 9;
}

form input {
    font-size: 4vw !important;
    color: var(--reserve_2) !important;
    margin: 0vw 8vw 0vw 4vw !important;
    width: 92vw;
}

form label {
    padding: 0vw 8vw 0vw 4vw !important;
    width: 100%;    
}

button{
    margin: 0 4vw !important;
    width: 85vw;
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

form{
    background: white;
    border-radius: 20px;
    position: relative;
}

.c-btn {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    display: inline-block;
    line-height: 36px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    min-width: 88px;
    height: 36px;
    margin: 10px 8px;
    padding: 0 8px;
    text-align: center;
    letter-spacing: .5px;
    border-radius: 2px;
    background: #F1F1F1;
    color: #393939;
    transition: background 200ms ease-in-out;
    box-shadow: 0 3.08696px 5.82609px 0 rgba(0, 0, 0, 0.16174), 0 3.65217px 12.91304px 0 rgba(0, 0, 0, 0.12435);
}

.c-btn--flat {
    background: transparent;
    margin: 10px 8px;
    min-width: 52px;
}

.c-btn:hover {
    background: rgba(153, 153, 153, 0.2);
    color: #393939;
}

.c-btn:active {
    box-shadow: 0 9.6087px 10.78261px 0 rgba(0, 0, 0, 0.17217), 0 13.56522px 30.3913px 0 rgba(0, 0, 0, 0.15043);
}

.c-btn--flat,
.c-btn--flat:hover,
.c-btn--flat:active {
    box-shadow: none;
}

.c-datepicker--open {
    z-index: 10 !important;
}

#btn_date {
    width: 14vw;
    height: 14vw;
    margin: 0;
    top: calc(((100vh - 17vh)*.4) - 6vh);
    left: calc(100vw - 16vw);
    border-radius: 50%;
    float: right;
    position: fixed;
    animation-delay: .35s;
    margin-top: 0.5em;
}

#label_date {
    width: 100% !important;
}

#label_time {}

#date-time-label {
    width: 45%;
}

#title_h2 {
    margin: auto !important;
    text-align: center;
    line-height: 4vh;
    color: var(--reserve_2) !important;
    font-weight: 100;
    font-size: 2.5vh;
    font-family: "Cinzel" !important;
    display: table;
    width: 100%;
    position: absolute;
    top: 2em;
}

#name_phone_label {
    width: 100%;
}


/* Desktops and laptops ———– */

@media only screen and (min-width: 1224px) {
    /* Styles */
    #schedulling #clickServices.mdl-button--fab {
        width: 6vw;
        height: 6vw;
        top: calc(38vh - 7vw);
        left: calc(106vw - 16vw);
    }
    #schedulling #clickSdlPage2.mdl-button--fab {
        width: 6vw;
        height: 6vw;
        top: calc(105vh - 16vw);
        left: calc(106vw - 16vw);
    }
    #sdlPage2 h2 {
        font-size: 2vw;
    }
    #schedulling #clickSdlSend.mdl-button--fab{
        width: 6vw;
        height: 6vw;
        left: calc(106vw - 16vw);
        top: calc(90vh - 16vw);
        margin: 0em 0em 2em 0em;
    }
    #schedulling #clickSdlPage1.mdl-button--fab{
        width: 6vw;
        height: 6vw;
        left: calc(106vw - 16vw);
        top: calc(98vh - 16vw);
        margin: 2em 0em 2em 0em;
    }
    #name_phone_label{
        /*width: 10%;*/
    }
    .date-time-input{
        width: 100%;
    }
    #form_sch{
        width: 25%;
        font-size: 16px !important;
    }
    .mdl-textfield__label{
        font-size: 16px !important;
        top: 0;
    }
    .mdl-textfield__input{
        font-size: 16px !important;
    }
    .mdl-textfield{
        padding: 0;
    }
    .services_content .demo-card-wide.mdl-card{
        left: 3vw;
    }
    .content .mdl-card__supporting-text{
        font-size: 12px;
    }
    #form_sch{
        padding-top: 3em;
    }
}
